<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		<!-- 이름은 그냥 구분만 되게 -->
<mapper namespace="com.exam.mybatis.boardMapper">
		<!-- mybatis-config.xml 에서 설정한 별명으로 대채 -->
	<insert id="write" parameterType="Board">
		INSERT INTO simpleBoard(bNo, bTitle, bWriter, bContent)
		VALUES(seq_bno.nextVal, #{bTitle}, #{bWriter}, #{bContent})
	</insert>
	
	<!-- 객체일 때만 resultType -->
	<select id="getList" resultType="Board">
		SELECT * FROM simpleBoard ORDER BY bno DESC
	</select>
	
	<!-- 전달도 받아야하고 전달도 해야하니까 -->
	<select id="read" resultType="Board" parameterType="int">
		SELECT * FROM simpleBoard WHERE bno=#{bNo}  
	</select>
	
	<!-- <update id="update" parameterType="">
		UPDATE FROM simpleBoard SET bTitle =#{bTitle}, bContent = #{bContent}
			WHERE bno = #{bNo}
	</update>
	
	<delete id="delete">
		DELETE FROM simpleBoard WHERE bno = #{bNo}
	</delete> -->
</mapper>