<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		<!-- 이름은 그냥 구분만 되게 -->
<mapper namespace="com.exam.mybatis.boardMapper">
		<!-- mybatis-config.xml 에서 설정한 별명으로 대채 -->
	<insert id="write" parameterType="Board">
		INSERT INTO simpleBoard(bNo, bTitle, bWriter, bContent)
		VALUES(seq_bno.nextVal, #{bTitle}, #{bWriter}, #{bContent})
	</insert>
</mapper>