<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		<!-- 이름은 그냥 구분만 되게 -->
<mapper namespace="com.exam.mybatis.memberMapper">
	<insert id="insertMember" parameterType="RegisterRequest">
		INSERT INTO simpleMember(id, name, email, password, regdate)
		VALUES (seq_id.nextVal, #{name}, #{email}, #{password}, sysdate)
	</insert>
	
	<!-- member를 쓰던 regitsterRequest를 쓰던 상관은 없다. 별명을 만들어놔서 간단하게 씀 -->
	<select id="selectWithPass" parameterType="RegisterRequest"
		resultType="Member">
		SELECT * FROM simpleMember
		WHERE email = #{email} and password = #{password}
	</select>
</mapper>