<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>조건 처리</h1>
	<table border="1">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>나이</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${userStat.count}"></td>
			<td th:text="${user.userName}">데이터없음</td>
			<td>
				<span th:text="${user.age}">0</span>
				<span th:text="'미성년자'" th:if="${user.age < 20}">0</span>
				<span th:text="'미성년자'" th:unless="${user.age ge 20}">0</span>
			</td>
		</tr>
	</table>
	
	<hr>
	<h1>다중 조건</h1>
	<table border="1">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>나이</th>
		</tr>
		<tr th:each="user : ${users}">
			<td th:text="${userStat.count}"></td>
			<td th:text="${user.userName}">데이터없음</td>
			<td th:switch="${user.age}">
				<span th:case="10">10살</span>
				<span th:case="20">20살</span>
				<span th:case="*">기타</span>
			</td>
		</tr>
	</table>
</body>

</html>