<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>LocalDateTime</h1>
	<!--함수 쓰지 않고 그대로-->
	default : [[${localDateTime}]]<br>
	<hr>
	[[${#temporals.format(localDateTime, "yyyy-MM-dd HH:mm:ss")}]]<br>
	[[${#temporals.format(localDateTime, "yyyy-MM-dd/a HH:mm:ss")}]]<br>
	<hr>
	1. [[${#temporals.day(localDateTime)}]]<br>
	2. [[${#temporals.month(localDateTime)}]]<br>
	3. [[${#temporals.monthName(localDateTime)}]]<br>
	4. [[${#temporals.monthNameShort(localDateTime)}]]<br>
	5. [[${#temporals.year(localDateTime)}]]<br>
	6. [[${#temporals.dayOfWeek(localDateTime)}]]<br>
	7. [[${#temporals.dayOfWeekName(localDateTime)}]]<br>
	8. [[${#temporals.dayOfWeekNameShort(localDateTime)}]]<br>
	9. [[${#temporals.hour(localDateTime)}]]<br>
	10. [[${#temporals.minute(localDateTime)}]]<br>
	11. [[${#temporals.second(localDateTime)}]]<br>
	12. [[${#temporals.nanosecond(localDateTime)}]]<br>

</body>
</html>