<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>URL 링크</h1>
	
	<!--요청 주소가 매번 달라질 수 있다면?-->
	<a th:href="@{/hello}">basic url</a><br>
	
	<!--파라미터 쓸 때 localhost990/hello?param1=data1&param2=data2-->
	<a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a><br>
	
	<!--경로로 쓸 때 localhost990:/hello/data1/data2-->
	<a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable</a><br>
	
	<!--주소에 따로 보내겠다 ? 방식 localhost990:/hello/data1?param2=data2-->
	<a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + query param</a>
</body>
</html>